/* Topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
    color: white;
    padding: 10px 40px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Pushing content down */
body {
    padding-top: 80px;
}

.topbar-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.user-info {
    font-size: 0.95rem;
}

/* Container */
.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

/* Cards */
.card {
    background: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 22px rgba(0,0,0,0.18);
}

/* Time range-Card horizontal */
.input-row.horizontal {
    display: flex;
    align-items: center;
    gap: 20px;
}


